.hero {
    width: 100%;
    overflow: hidden;
}

.hero-img-background {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 332px;
    z-index: -1;

}

.hero-img-background img {
    position: absolute;
    top: 80px;
    left: -100px;
    width: 250%;
    z-index: -1;


}

.btn-black-no-outline {
    color: black;

}

.btn-black-no-outline:hover {
    color: rgb(92, 92, 92);

}


.ascii-art {
    text-align: left;
}

/*
ANIMATED SVG LOGO
*/


#result {
    display: flex;
    align-items: center;
    justify-content: center;
}

#result>svg {
    height: 20rem;
    width: 20rem;
    overflow: visible;
}

/* .openEyes{
    visibility: visible;
    opacity: 1;
    animation: blink 500ms infinite;
}

@keyframes blink {
    0%{
        display: grid;
    }
   
    50% {
        display: none;
    }
    100% {
        display: grid;
    }
  }


.closeEyes{
    visibility: visible;
    opacity: 1;
    animation: blinkOpp 500ms infinite;
}
@keyframes blinkOpp {
    0%{
        opacity: 0;
    }
   
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
   */